*.elc
ac-comphist.dat
places
auto-save-list/*
backups/*
elpa/
url/
tramp
jabber-avatar-cache/
bookmarks
eshell/
ido.last
.DS_Store
smex-items
projectile-bookmarks.eld
/lisp/env-config/*.el
/agginit.el
/network-security.data
