*.elc
ac-comphist.dat
places
auto-save-list/*
backups/*
elpa/
url/
tramp
jabber-avatar-cache/
bookmarks
eshell/
ido.last
.DS_Store
smex-items
projectile-bookmarks.eld
/agginit.el
/network-security.data
/README.html
/emojis
/transient
secrets.el
*.cache
custom.el
/vendor
.lsp-session-v1
/org-roam.db
org-persist/
.org-id-locations
tree-sitter/
eln-cache/
history