(setq magit-projects
      (quote (
              ("~/.emacs.d" . 0)
              ("~/stow" . 0)))
      slack-cucumberbdd-team ""
      slack-cucumberbdd-client-id ""
      slack-cucumberbdd-client-secret ""
      slack-cucumberbdd-token ""
      slack-elmlang-team ""
      slack-elmlang-client-id ""
      slack-elmlang-client-secret ""
      slack-elmlang-token ""
      system-name ""
      user-login-name ""
      user-full-name ""
      user-email-address "")
