(setq magit-projects
  (quote (
    ("~/.emacs.d" . 0)
    ("~/src/customerservice" . 0)
    ("~/src/customer-service-client" . 0)
    ("~/src/deviceapi" . 0)
    ("~/src/mar-accountalertsettingcreator" . 0)
    ("~/src/mar-alert-measurement-updater" . 0)
    ("~/src/mar-alert-rule-deleter" . 0)
    ("~/src/mar-alert-rule-updater" . 0)
    ("~/src/mar-alert-service-client" . 0)
    ("~/src/mar-alertservice" . 0)
    ("~/src/mar-alexa-voice-ui" . 0)
    ("~/src/mar-api" . 0)
    ("~/src/mar-atlasapi" . 0)
    ("~/src/mar-firmwareservice" . 0)
    ("~/src/mar-forecast-service" . 0)
    ("~/src/mar-forecast-service-client" . 0)
    ("~/src/mar-hub-chart-export-sender" . 0)
    ("~/src/mar-hubapi" . 0)
    ("~/src/mar-ios" . 0)
    ("~/src/mar-sensorreadingsprocessor" . 0)
    ("~/src/mar-system-alert-creator" . 0)
    ("~/src/mar-systemrulecreator" . 0)
    ("~/src/mar-valuealertprocessor" . 0)
    ("~/src/mar-webui" . 0)
    ("~/src/onevueapi" . 0)
    ("~/src/ov-clockstatusesprocessor" . 0)
    ("~/src/ov-probereadingsprocessor" . 0)
    ("~/src/ov-readings-stream" . 0)
    ("~/src/ov-readingsprocessor" . 0)
    ("~/src/ov-twilioprocessor" . 0)
    ("~/src/ov-utilities" . 0)
    ("~/src/postman-examples" . 0)
    ("~/src/primex-authentication" . 0)
    ("~/src/queue-processor" . 0)
    ("~/src/rails" . 0))))
